body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: linear-gradient(
        black,
        white,
        black
    );
}

p{
    font-size: 30px;
}

a{
    background-color: rgb(61, 95, 95);
    padding: 100px;
    border:3px solid rgb(57, 177, 177);
    border-radius: 10px;
    font-size: 40px;
    color: aqua;
    text-decoration: none;
}