*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color: rgb(94, 92, 92);
    display: flex;
    justify-content: center;

}

#container{
    background-color: rgb(107, 105, 105);
    width: 850px;
    height: 1400px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#left{
    color: white;
    background-color: rgb(71, 100, 124);
    width: 40vw;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.col{
    
    width: 80%;
}

#profile{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin:50px 0px 50px 0px;
}
.BigText{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
#name{
    text-align: left;
    font-size: 50px;
}

.opis{
    margin-top: 16px;
    font-size: 17px;
    text-align: left;
    margin-bottom: 30px;
}


#right{
    background-color: white;
    width: 60vw;
    display: flex;
    justify-content: center;
}

#right .BigText{
    background-color: rgb(241, 207, 207);
    padding: 15px 30px;
}

.stanowisko{
    font-weight: bold;
    margin-top: 5000px;
    font-size: 24px;
}

.firma{
    font-weight: bold;
    margin: 3px 0px;
    font-size: 18px;
    margin-left: 5px;
}
#right p{
    margin-top: 10px;
}
.zadania{
    margin-left: 10px;
}
